// Ported from Main-Site-Theme/src/scss/pages/_video-template.scss
.video-template-content {
  margin-top: 4rem;
}

.page-template-template-video {
  .header-content-inner {
    h1.font-condensed {
      font-family: $font-family-condensed;
      font-size: 3.5rem;
      line-height: .875;
      // sass-lint:disable no-important
      font-weight: 400 !important;
      letter-spacing: .005em !important;
      // sass-lint:enable no-important

      @include media-breakpoint-up(md) {
        font-size: 4.375rem;
      }
    }
  }

  .header-video-embed {
    margin-bottom: -4rem;
  }
}
